@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
}
html {
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* canvas {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: contain;
} */
